<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>

<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Panel</h1>

		<body style="background-color:black">

			<form action="/addemp" autocomplete="on" method = "POST" enctype="multipart/form-data">

                
                <button type="submit" formaction="/searchemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">SEARCH EMPLOYEE</button><br><br>
                
				<button type="submit" formaction="/addemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">ADD EMPLOYEE</button><br><br>

                <button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">EDIT EMPLOYEES DETAILS</button><br><br>
                
                <button type="submit" formaction="/deleteemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">DELETE EMPLOYEE</button><br><br>


			</form>
		</body>

	</font>
</center>
</html>
