<!DOCTYPE html>
<html>
<head>
    <title>Add Employee Information</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('templates',filename='stylesheet.css') }}">
</head>

<div>
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Employee Panel</h2>
                    <form method="POST" class="register-form" id="register-form">
                        <div class="form-group form-button">
                            <input type="submit" formaction="/searchemp" name="search" class="form-submit" value="SEARCH EMPLOYEE"/>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" formaction="/addempdata" name="addEmp" class="form-submit" value="ADD EMPLOYEE"/>
                        </div>

                        <div class="form-group form-button">
                            <input type="submit" formaction="/editemp" name="editemp" class="form-submit" value="EDIT EMPLOYEE DETAILS"/>
                        </div>

                        <div class="form-group form-button">
                            <input type="submit" formaction="/deleteemp" name="deleteEmp" class="form-submit" value="DELETE EMPLOYEE"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

</html>

